* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#super-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #ffffff;
}

.top-navbar {
    width: 100%;
    height: 7%;
    background-color: #f3f6fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3c64b1;
}

#top-navbar-MyPageBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #3c64b1;
    margin: 10px;
    padding: 5px;
}

#top-navbar-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 92px;
}

#top-navbar-middle > div {
    margin: 20%;
}

#middle-div {
    width: 100%;
    height: 40%;
    background-color: #f3f6fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    text-align: center;
    top: 7%;
    z-index: 100;
}

#left-arrow {
    position: relative;
    left: 350px;
    margin-bottom: 2%;
}

.arrow_button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 20px;
}

#middle-div h1 {
    flex: 1;
    text-align: center;
    margin-bottom: 25px;
}


.menu {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
}

.menu li button {
    border: none;
    cursor: pointer;
    outline: none;
    height: 44px;
    width: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.menu li button span {
    display: inline-block;
    text-align: center;
    width: 70px;
    font-size: 16px;
    font-weight: bold;
}

.menu li button img {
    margin-right: 10px;
    margin-left: 30px;
}


button#write {
    border: 1px solid #858383;
    border-radius: 5px;
    margin-top : 10px
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.assessment_strapoint_div,
.assessment_three,
#more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#assessment_starpoint {
    font-size: 58px;
}

.assessment_strapoint_div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.assessment_three {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 80px;
}

#money {
    display: flex;
    flex-direction: row;
}

.rating_item {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.rating_labels {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    height: 100%;
}



.review {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: -70px; /* 바로 아래 위치를 조정하려면 이 값을 조정하면 됩니다. */
}

