* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#super-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff;
}

#super-div1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.top-navbar {
  width: 100%;
  height: 7%;
  background-color: #f3f6fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-sizing: border-box;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3c64b1;
}

#top-navbar-MyPageBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #3c64b1;
  margin: 10px;
  padding: 5px;
}

#top-navbar-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 92px;
}

#top-navbar-middle > div {
  margin: 20%;
}

#middle-div {
  width: 100%;
  height: 40%;
  background-color: #f3f6fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  text-align: center;
  top: 7%;
  z-index: 100;
}
#left-arrow {
  border: none;
  outline: none;
  margin-bottom: 2%;
  display: flex;
  position: absolute;
  left: 350px;
}

#left-arrow button.arrow_button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
}

#middle-div h1 {
  flex: 1;
  text-align: center;
  margin-bottom: 25px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
}
.menu li button {
  border: none;
  cursor: pointer;
  outline: none;
  height: 44px;
  width: 150px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.menu li button span {
  display: inline-block;
  text-align: center;
  width: 70px;
  font-size: 16px;
  font-weight: bold;
}

.menu li button img {
  margin-right: 10px;
  margin-left: 30px;
}
.assessment_master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one_write > span {
  margin: 15px 0;
}

.one_assessment {
  width: 570px;
  outline: none;
  border: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  height: 85px;
  resize: none;
  padding: 12px;
}

.container {
  width: 572px;
  margin: 0 auto;
  margin-bottom: 20px; /* 원하는 간격으로 설정 */
}

.container:last-of-type {
  margin-bottom: 0;
}

.container__image {
  margin-right: 23px;
}

.sub-container {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container button {
  border: none;
  border-radius: 15px;
  background-color: #d9d9d9;
  padding: 13px 28px;
  margin-right: 11px;
  cursor: pointer;
  outline: none;
}

.container__paragraph h3 {
  margin-bottom: 12px;
}

.button-container button:last-of-type {
  margin-right: 0;
}

.textarea-container > textarea {
  width: 100%;
  outline: none;
  border: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  height: 85px;
  resize: none;
  padding: 12px;
}
.yes_or_no {
  display: flex;
  justify-content: center;
}

.yes_or_no button {
  margin: 0 5px 30px;
  display: inline-flex;
  border: none;
  border-radius: 15px;
  padding: 13px 28px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.yes_or_no .no button {
  background-color: #f1f1f1;
}

.yes_or_no .yes button {
  background-color: #eaf0ff;
}

.star_assesment{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.star {
  position: relative;
  font-size: 50px;
  color: #ddd;
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.star span {
  width: 0;
  position: absolute; 
  left: 0;
  color: yellow;
  overflow: hidden;
  pointer-events: none;
}

.active{
  /* color: yellow; */
  background-color: gray !important;
}

.user-templete {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.user-top{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.text1{
  width: 400px;
  padding: 10px;
  background-color: lightgray;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
}

.user-profile{
  width: 40px;
  margin-right: 10px;
}

.price{
  display: flex;
  margin: 10px;
}

.price > div{
  font-weight: bold;
  margin-right: 15px;
}

.type{
  display: flex;
  margin: 10px;
}

.type > div{
  font-weight: bold;
  margin-right: 15px;
}

.environment{
  display: flex;
  margin: 10px;
}

.environment > div{
  font-weight: bold;
  margin-right: 15px;
}

.guitar{
  display: flex;
  margin: 10px;
}

.guitar > div{
  font-weight: bold;
  margin-right: 15px;
}

.menu li button:hover {
  background-color: #eaf0ff;
  width : 200px;
}
